{% extends 'base.html' %}


{% block title %}Add Products{% endblock title %}



{% block body %}

<div class="container mt-3 item-center">

  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {% endif %}
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <table>
            <h1 class="bg-dark">{{p_form}}</h1>
        </table>
        <input type="submit" class="mt-3 btn btn-danger" value="Add Product" name="" id="">
    </form>
</div>
{% endblock body %}

{% block js %}

{% endblock js %}