{% extends 'base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-2 mt-3">
            <a href="{% url 'addbusiness' %}">
                <div class="card text-center bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Add Bussiness</h5>
                        <p class="card-text">you can add your business</p>
                    </div>
                </div>
            </a>
            </div>
    </div>
</div>

{% endblock body %}